[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
"oauth2-client" = "*"


[dev-packages]

pytest = "*"
pylint = "*"


[requires]

python_version = "3.7"
